.form-container {
  max-width: 500px;
  margin: 0 auto;

  background-color: var(--card-bg);
  border: 1px solid var(--border-color);

  padding: 2.5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.form-header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-header h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.form-header p {
  color: var(--text-muted);
}

.form-group {
  margin-bottom: 1.25rem;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-family: "Shabnam", sans-serif;
  outline: none;
  transition: border-color 0.3s;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.form-group input:focus {
  border-color: var(--primary-color);
}

.form-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.ticket-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  background-color: var(--bg-color);
}

.radio-box:hover {
  border-color: var(--primary-color);
}

.radio-box input:checked + div {
  color: var(--primary-color);
}

.radio-box input {
  margin-left: 1rem;
  transform: scale(1.2);
}

.radio-box div strong {
  display: block;
  color: var(--text-color);
}
.radio-box div p {
  font-size: 0.85rem;
  color: var(--text-muted);
  margin-top: 4px;
}

.radio-box .price {
  margin-right: auto;
  font-weight: bold;
  color: var(--primary-color);
}

body.dark-theme .radio-box .price {
  color: #ffffff;
}

.payment-summary {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: var(--radius);
  margin: 1.5rem 0;
  border: 1px solid var(--border-color);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.discount-text {
  color: var(--success-color);
}

.total-row {
  font-weight: bold;
  font-size: 1.1rem;
  border-top: 1px solid var(--border-color);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  color: var(--text-color);
}

.btn-success {
  background-color: var(--success-color);
  color: #fff;
}
.btn-success:hover {
  background-color: #218838;
}
